<p>post-list works!</p>
<h3>{{postParent}}</h3>
<input type="text" [(ngModel)]="name"/>
<input type="text" [(ngModel)]="email"/>
<input type="text" [(ngModel)]="address"/>
<button (click)="saveData()">Save Data</button>

<!-- <ul>
    <li *ngFor="let user of userData">{{user|json}}</li>
</ul> -->


<ul>
    <li *ngFor="let post of posts;let i=index">{{post.postTitles}}</li>
</ul>
<div class="table-area">
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData;let i=index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address}}</td>
                <td><button (click)="onDelete(i)">Delete</button></td>

            </tr>
        </tbody>
    </table>
</div>

<p>{{customerData.city | append}}</p>